@tailwind base;
@tailwind components;
@tailwind utilities;


.saut {
    display: block;
}

.nav {
    width: 350px;
    height: 60px;
}
.chevron:before {
    content: "<" ;
}
.chevron:after {
    content: ">";
}